<app-header
  [title]="title"
  [visibleMenu]="false"
  [visibleBackButton]="true"
  [visibleExits]=" false"
  (onBack)="onClickBack()"
></app-header>

<ion-content class="ion-padding">
  <div class="cat">
    <img src="../../../../assets/images/Reset password-pana.svg" alt="icon" />
  </div>
  <ion-list>
    <ion-item fill="outline" class="ion-margin-top ion-margin-bottom">
      <ion-icon slot="start" name="mail-outline" color="medium"></ion-icon>
      <ion-label position="floating" color="medium">{{'Label.email'|translate}}</ion-label>
      <ion-input type="text" [maxlength]="50" [(ngModel)]="email" ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button
      class="ion-margin-top"
      mode="ios"
      expand="block" (click)="resetPasswod()">{{'Button.recover'|translate}}</ion-button>
</ion-content>
